body{
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
    margin-top: 0%;
    
}
.container{
    width:90%;
    margin: 0 auto;
}
  header{
    padding: 60px;
    background: #1f2937;
    height:auto;
}
  #title{
    position:absolute;
    margin-top: 0px;
    left:20%;
    color:#F9FAF8;
    font-size: 24px;
    top: 50px;
    text-shadow:0 0 1em currentColor;
}
  .header-container{
    display:flex;
    flex-direction: row-reverse;
    background: #1f2937;
    margin: 0;
    padding: 0;   
    gap: 25px;
    height:100%;
    justify-content: right;
    height: 10px;
    margin-top: 0%;
}
    
    
  
  .top{
   font-size: 18px;
    color: #E5E7EB;
   
}





.body > *{
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
}

.container-1{
    display: flex;
    flex-direction: row;
    background: #1f2937;
    color: #E5E7EB;
}



#large-left{
    font-size: 48px;
    font-weight: bolder;

}

.container-2{
    background:white;
}






body{
    background-color:black;
}