



body{
    display: flex;
    flex-direction: column;
    margin-top: 0%;
    
    
}
.container{
    width:90%;
    margin: 0 auto;
}
  header{
    padding: 60px;
    background: #1f2937;
    height:auto;
}
  #title{
    position:absolute;
    margin-top: 0px;
    left:20%;
    color:#F9FAF8;
    font-size: 24px;
    top: 50px;
    text-shadow:0 0 1em currentColor;
}
  .header-container{
    display:flex;
    flex-direction: row-reverse;
    background: #1f2937;
    margin: 0;
    padding: 0;   
    gap: 25px;
    height:100%;
    justify-content: right;
    height: 10px;
    margin-top: 0%;
}
    
    
  
  .top{
   font-size: 18px;
    color: #E5E7EB;
   
}





.body {
    display: flex;
    flex-direction: column;
    flex:1 1 0%;
    height:100%;
    
    
}

.container-1{
    display: flex;
    flex-direction: row;
    background: #1f2937;
    color: #E5E7EB;
    flex: 1 1 250px;
    align-items: center;
}

.left{
    margin-left:80px;
    display:flex;
    flex:1;
    flex-direction: column;
    height:245px;
    

}

#large-left{
    font-size: 48px;
    font-weight: bolder;
    align-items: flex-start;
    

}

.blue-button{
   display: block;
    background-color: #3882f6;
    color:white;
    border:19px #3882f6;
    padding-top:10px;
    width:125px;
    height: 35px;
    text-align:center;
   
    margin-top:25px;
    border-radius: 19px;
}

.right{
    
   right:20%;
    margin-left: 25px;
    flex:1;
}

.img{
    flex:1;
    margin-bottom: 17px;
}
.container-2{
    background:white;
    display: flex;
    flex-wrap:wrap;
    flex-grow:1;
    flex-direction: column;
    
    height:auto;
}

#top{
    display:block;
    padding: 15px;
    font-weight: 900;
    font-size: 36px;
    color:#1f2937;
    text-align: center;
    margin-bottom: 20px;
}
.bottom{
    display:flex;
    flex-wrap:wrap;
    height:400px;
    flex:1;
    justify-content: center;

}
.box{  /* Picture's  */
    flex:0 1 0%;
    width:155px;
    height:160px;
    padding:25px;
    margin-top: 10px;
    margin:15px;
    border: 7px solid #3882f6;
    border-radius: 7px;
}
.box-text{  /* Text under pictures*/
    display:block;
    width:140px;
    height:175px;
    padding:25px;
    margin:15px;
    margin-left: 30px;
    margin-right:30px;
    
}



.container-3  /* Inspirational quote */
{   
    background-color: #E5E7EB;
    display: flex;
    align-items: center;
    flex-direction: column;
    flex:1;
    height:500px;
}
.v-box{
    display:block;
    width: 600px;
    text-align: center;
    font-size: 23px;
    height: 200px;
    font-style: italic;
    margin: 40px;
    margin-top: 190px;
    font-size:xx-large;
    font-style:oblique;
    

}

  #quote-name{
    flex:1;
    text-align: center;
    font-size:medium;
    font-weight: 300;

}

.container-4{

    background-color: white;
    flex:1;
    height: 350px;
    align-items: center;
    margin-bottom: auto;
}

#blue_box{
    display: flex;
    flex:1;
    flex-direction: row;
    width:800px;
    background:#3882f6;
    margin: auto;
    margin-top:60px;
    margin-bottom: 60px;
    padding-left:30px ;
    justify-content: space-between;
    color:white;
    border-radius: 7px;



}
#left_two{
    font-weight: 700;
    margin:30px
}
#bot_left{
    display: block;
    font-weight: 300;
}

#white-button{
    display: block;
    color:white;
    border:2px solid white;
    padding-top:10px;
    width:125px;
    height: 35px;
    text-align:center;
    margin-top:25px;
    margin-right: 30px;
    margin-bottom: 30px;
    border-radius: 130px;
    font-weight: 700;


}
#container-5{
    background: #1f2937;
    color: #E5E7EB;
    margin-top: auto;
   text-align: center;
   font-size: small;
}

body{
    background-color:black;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}